# Node modules
node_modules/

# Build output
/dist/
/build/
/out/

# Environment variable files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE directories and settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Testing & coverage
coverage/

# Cache directories
.cache/

# ESLint cache
.eslintcache

# vim/OS swap files
*.swp 